<%- include('components/layout'); -%>
<body class="min-h-screen flex flex-col overflow-x-hidden">
    <%- include('components/header'); -%>
    <main class="flex flex-grow items-center justify-center w-full">
        <div id="dashboard" class="bg-gray-900 bg-opacity-70 text-white rounded-lg w-11/12 md:w-10/12 lg:w-11/12 shadow-lg flex flex-row" style="height: calc(90vh - 90px);"> <!-- Réduit l'espace en haut et en bas (90px pour header et footer) -->

            <!-- Sidebar (menu latéral) -->
            <%- include('components/nav'); -%>

            <!-- Main content area -->
            <div class="flex-1 p-8 text-center">
                <h1 class="text-2xl font-bold">Tableau de bord</h1>
                <p class="m-3">Vous êtes connecté avec l'adresse email <%= user.email %>.
                <div class="grid grid-cols-2">
                    <div class="col-span-2">
                        <h2>Réservations en cours</h2>
                    </div>
                    <div>
                        <h2>Catways</h2>
                    </div>
                    <div>
                        <h2>Statistiques</h2>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <%- include('components/footer'); -%>
</body>